{{ define "main" }}
<!-- Links -->
<section class="section content main-load">
    <div class="container">
        <article class="post_article" itemscope itemtype="https://schema.org/Article">
            {{- .Content }}

            {{- if .Params.links }}
            <ul class="links">
                {{- range .Params.links }}
                <li>
                    <a href="{{ .url }}" target="_blank" rel="noopener">
                        {{- if .logo }}
                        <div class="bg" style="background-image:url({{ .logo }})"></div>
                        {{- else }}
                        <div class="bg" style="background-image:url(https://www.google.com/s2/favicons?domain={{ .url }})"></div>
                        {{- end }}
                        <strong>{{ .name }}</strong>
                        {{- if .desc }}
                        <p>{{ .desc }}</p>
                        {{- end }}
                    </a>
                </li>
                {{- end }}
            </ul>
            {{- else }}
            <p style="text-align: center; padding: 2rem; color: #AAB2BD;">
                暂无友情链接
            </p>
            {{- end }}
        </article>
    </div>
</section>
{{ end }}
